nav {
    background: lightslategrey;
}

.input-field {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    background-color: lightslategrey;
}

label {
    font-size: medium;
}

.row {
    margin: 10px;
}

.card-panel.col {
    padding: 20px;
}

div.card-panel.sort {
    padding: 10px;
}

label.sort + label.sort {
    margin-left: 40px;
}

p.sort {
    margin-top: 0;
}

table.highlight > tbody > tr:hover {
    background-color: rgba(180, 220, 220, 0.5);
}

td + td, th + th {
    border-left: 1px solid #d0d0d0;
}

td {
    padding: 5px;
}

table.cities {
    table-layout: fixed;
}

table.cities > th {
    width: 50%;
}